* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1d3d7d;
}

header h1 {
    margin: 0;
    color: #ffffff;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-weight: lighter;
    font-style: italic;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

header nav ul li a:hover {
    color: #ACD6EF;
    transition: 0.8s;
}


.primeira {
    padding: 160px;
    background-image: url(Imagens/pexels-kamo11235-667838.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
}

.primeira-texto {
    max-width: 500px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: #0000003d;
    border-radius: 5px;

}

.primeira h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.primeira p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.5;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ACD6EF;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 10px 10px 20px black;
}

.botao:hover {
    background-color: #1d3d7d;
    color: #fff;
}

.segunda {
    padding: 220px;
    background-image: url(Imagens/pexels-scottwebb-305821.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
}

.segunda-texto {
    max-width: 500px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.segunda h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}

.segunda p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

.botao2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #245218;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 10px 10px 20px black;
}

.botao2:hover {
    background-color: #5ea84b;
    color: black;
}

footer p {
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    background-color: #1d3d7d;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    font-weight: bold;
}